<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact US</title>
    <style>
        .Div{
                height:420px;
                width:1527px;
                background: url("/static/image/blue1.jpg");
        }

        </style>
    {% load static %}

        <link rel="stylesheet" href="{% static 'css/logo.css' %}">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body>
{% block header %}  <!-- Header Section Start -->
<!-- Navbar Section Start -->

<nav class="navbar navbar-expand-lg bg-warning navbar-text fs-5 ">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="{% static 'image/logoo.jpg' %}"
                                              style="margin-left:3px;height:45px;width:160px;"/></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="  #navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'Home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'AboutUs' %}">About us </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Courses
                    </a>
                    <ul class="dropdown-menu fw-bolder">
                        <li>
                            <a class="dropdown-item" href="{% url 'full_stack_python' %}">Python</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'full_stack_java' %}">Java</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'aws' %}">AWS</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'data_analytics' %}">Data Analytics</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'devops' %}">DevOps</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'mern_stack' %}">Mern Stack</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider"/>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'ContactUs' %}">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'SignUp' %}">SignUp</a>
                </li>

                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'feedback' %}">Feedback</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'SignOut' %}">Signout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled bg-success fw-bold fst-italic text-white border border-danger rounded-5 ">
                        Welcome, {{user}}!</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'SignIn' %}">Signin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'reviews' %}">Reviews</a>
                </li>
                {% endif %}
            </ul>
            <form class="d-flex" role="search" onsubmit="return false">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="searchInput"
                       list="searchOptions"/>
                <datalist id="searchOptions">
                    <option value="Python" data-url="{% url 'full_stack_python' %}"></option>
                    <option value="Java" data-url="{% url 'full_stack_java' %}"></option>
                    <option value="AWS" data-url="{% url 'aws' %}"></option>
                    <option value="Feedback" data-url="{% url 'feedback' %}"></option>
                    <option value="Data Analytics" data-url="{% url 'data_analytics' %}"></option>
                    <option value="Mern Stack" data-url="{% url 'mern_stack' %}"></option>
                    <option value="DevOps" data-url="{% url 'devops' %}"></option>
                </datalist>
                <button class="btn btn-outline-success" type="submit" onclick="redirect()">
                    Search
                </button>
            </form>
        </div>
    </div>
    <script>      <!-- script for searchbar -->
        function redirect() {
          var searchInput = document.getElementById("searchInput");
          var selectedOption = searchInput.value;
          var options = document.getElementById("searchOptions").options;

          for (var i = 0; i < options.length; i++) {
            if (options[i].value === selectedOption) {
              window.location.href = options[i].getAttribute("data-url");
              return;
            }
          }

          // Handle case when no option is selected
          alert("Please select a valid option.");
        }
    </script>
</nav>
<!-- Navbar Section End -->
{% block title %}
<!-- Title section (Home/About/Contact/Signin/etc.) -->
{% endblock %}

{% endblock %}  <!-- Header Section End -->


    <div class="Div"><br>
        <img src="{% static 'image/aws_logo1.jpg' %}"style="margin-left:10px;">
        <b><h2 style="margin-left:120px; margin-top:-64px;">AWS Certification Training</h2></b><br>
  <div style="margin-left:50px;"> <h4>Job Assured Training</h4><br>
      <h5>3RI Technologies provides an Amazon Web Services Course designed<br>
          for both fresher and experienced professionals who want to learn everything about the AWS <br>
          cloud computing platform. This AWS course covers both fundamental and advanced AWS topics <br>
          developed by industry experts to meet the requirements and expectations of businesses. <br>
          Our instructor-led course will help you develop in-depth skills by supporting you in creating and deploying <br>
          robust and secure AWS services. This course will teach you all you need to know to pass the<br>
          AWS Certified Solutions Architect certification and seek employment as an AWS Solutions Architect.</h5>
      </div>

         <h5 style="margin-top:83px;color:white;">Students hired by :-</h5> </div>


    <div style="width:1527px;">
    <div>
  <footer class="text-center text-white" style="background-color: #2f4f4f;">
    <!-- Grid container -->
    <div class="container p-5">
      <!-- Section: Images -->
      <section class="">
        <div class="row">
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
                 class="bg-image hover-overlay ripple shadow-1-strong rounded"
                 data-ripple-color="light"
                 >
              <img src="{% static 'image/TCS.jpg' %}"
                   class="w-100"
                   />
              <a href="#!">
                <div
                     class="mask"
                     style="background-color: rgba(251, 251, 251, 0.2);"
                     ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
                 class="bg-image hover-overlay ripple shadow-1-strong rounded"
                 data-ripple-color="light"
                 >
              <img src="{% static 'image/wipro.jpg' %}"

                   class="w-100"
                   />
              <a href="#!">
                <div
                     class="mask"
                     style="background-color: rgba(251, 251, 251, 0.2);"
                     ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
                 class="bg-image hover-overlay ripple shadow-1-strong rounded"
                 data-ripple-color="light"
                 >
                <img src="{% static 'image/cognizant.jpg' %}"

                   class="w-100"
                   />
              <a href="#!">
                <div
                     class="mask"
                     style="background-color: rgba(251, 251, 251, 0.2);"
                     ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
                 class="bg-image hover-overlay ripple shadow-1-strong rounded"
                 data-ripple-color="light"
                 >
                <img src="{% static 'image/slogan.jpg' %}"

                   class="w-100"
                   />
              <a href="#!">
                <div
                     class="mask"
                     style="background-color: rgba(251, 251, 251, 0.2);"
                     ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
                 class="bg-image hover-overlay ripple shadow-1-strong rounded"
                 data-ripple-color="light"
                 >
                <img src="{% static 'image/gslab.jpg' %}"
                   class="w-100"
                   />
              <a href="#!">
                <div
                     class="mask"
                     style="background-color: rgba(251, 251, 251, 0.2);"
                     ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
                 class="bg-image hover-overlay ripple shadow-1-strong rounded"
                 data-ripple-color="light"
                 >
                <img src="{% static 'image/wtech.jpg' %}"
                   class="w-100"
                   />
              <a href="#!">
                <div
                     class="mask"
                     style="background-color: rgba(251, 251, 251, 0.2);"
                     ></div>
              </a>
            </div>
          </div>
        </div>
      </section>
      <!-- Section: Images -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2024 Tech:

        <a href="{% url 'RI' %}" style="color:white;text-decoration:none;">3RI@.com</a>

    </div>
    <!-- Copyright -->
  </footer>

</div>
 </div>
</body>
</html>